
a,a:hover{
	text-decoration: none;
}

/*comn title*/

.comn_deisgn_tittle_h5_host_gem_78 h5{
	position: relative;
	display: inline-block;
	margin-bottom: 30px;
	color: #1f2278;
	font-size: 25px;
	font-weight: 800;
	font-family: 'Titillium Web', sans-serif;
}
.comn_deisgn_tittle_h5_host_gem_78 h5:before{
	position: absolute;
	content: "";
	height: 5px;
	width: 20px;
	background: transparent linear-gradient(90deg, #1E0B9B 0%, #07CCEC 100%) 0% 0% no-repeat padding-box;
	top: 46%;
	border-radius: 15px;
	left: -40px;
}
.comn_deisgn_tittle_h5_host_gem_78 h5:after{
	position: absolute;
	content: "";
	height: 5px;
	width: 5px;
	top: 46%;
	background: transparent linear-gradient(90deg, #1E0B9B 0%, #07CCEC 100%) 0% 0% no-repeat padding-box;
	border-radius: 50%;
	left: -53px;
}
.comn_deisgn_tittle_h5_host_gem_78 span:before{
	position: absolute;
	content: "";
	height: 5px;
	width: 20px;
	background: transparent linear-gradient(90deg, #1E0B9B 0%, #07CCEC 100%) 0% 0% no-repeat padding-box;
	top: 46%;
	border-radius: 15px;
	right: -40px;
}
.comn_deisgn_tittle_h5_host_gem_78 span:after{
	position: absolute;
	content: "";
	height: 5px;
	width: 5px;
	top: 46%;
	background: transparent linear-gradient(90deg, #1E0B9B 0%, #07CCEC 100%) 0% 0% no-repeat padding-box;
	border-radius: 50%;
	right: -53px;
}

/*end comn title*/

/*comn button*/

.dedcription-btn {
	width: 80%;
	height: 45px;
	position: relative;
	display: flex;
	border-radius: 30px;
	background-color: #fcfcfc;
	color: #000000;
	justify-content: left;
	transition: all 0.3s;
	padding-right: 40px;
	padding-left: 30px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
	align-items: center;
	text-decoration: none;
	margin-top: 15px;
	font-weight: 600;	
	font-family: 'Titillium Web', sans-serif;
}
.dedcription-btn .btn-icon {
	background: transparent linear-gradient(90deg, #1E0B9B 0%, #07CCEC 100%) 0% 0% no-repeat padding-box;
	width: 85px;
	height: 45px;
	float: right;
	position: absolute;
	border-radius: 30px 30px 30px 0;;
	right: 0px;
	top: 1px;
	transition: all 0.5s;
}
.name-descripeion {
	position: relative;
	z-index: 9999;
}
.btn-icon::after {
	content: "";
	width: 0;
	height: 0;
	border-top: 45px solid #fcfcfc;
	border-right: 40px solid transparent;
	position: absolute;
	top: 0px;
	left: 0px;
}
.dedcription-btn:hover .btn-icon {
	width: 100%;
	border-radius: 30px;
}
.dedcription-btn:hover .btn-icon::after {
	display: none;
	opacity: 0.1;
}
.btn-icon i {
	position: absolute;
	right: 25px;
	top: 13px;
	color: #fff;
	font-size: 20px;
}
.dedcription-btn:hover {
	color: #fff!important;
}

/*end comn button*/

.main_banner_page_hos_gem_78_book_ap{
	background: #fff;
	background-image: url(../img/ap_book/main_banner.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	position: relative;
	overflow: hidden;
	height: 450px;
	width: 100%;
	z-index: 1;
	margin-bottom: 100px;
}
.main_banner_page_hos_gem_78_book_ap:after{
	content: "";
	background: url(../img/ap_book/down_bg.png);
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: contain;
	z-index: -1;
}
.main_banner_page_hos_gem_78_book_ap .container_custom{
	display: table;
	height: 100%;
}
.main_banner_page_hos_gem_78_book_ap .main_tittle_hos_gem_78{
	height: 420px;
	vertical-align: middle;
	display: table-cell;
	padding-bottom: 60px;
	text-align: center;
}
.main_banner_page_hos_gem_78_book_ap .main_tittle_hos_gem_78 h4{
	color: #fff;
	font-size: 60px;
	text-transform: capitalize;
	font-weight: 800;
	font-family: 'Titillium Web', sans-serif;
}
.main_banner_page_hos_gem_78_book_ap .icon_1_ab_page {
	position: absolute;
	top: 10%;
	left: 50px;
	-webkit-animation: mover 5s infinite  alternate;
	animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
	0% { transform: translateY(0); }
	100% { transform: translateY(-50px); }
}
@keyframes mover {
	0% { transform: translateY(0); }
	100% { transform: translateY(-5px); }
}
.main_banner_page_hos_gem_78_book_ap .icon_2_ab_page {
	position: absolute;
	bottom: 20%;
	right: 50px;
	width: 70px;
	height: 70px;
	animation: rotate 15s linear infinite;
}
@keyframes rotate {
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
.main_banner_page_hos_gem_78_book_ap .icon_3_ab_page {
	position: absolute;
	top: 50px;
	right: 20%;
	-webkit-animation: mover 5s infinite  alternate;
	animation: mover 1s infinite  alternate;
}
.main_banner_page_hos_gem_78_book_ap .icon_4_ab_page {
	position: absolute;
	bottom: 70px;
	left: 50px;
	width: 70px;
	height: 70px;
	animation: rotate 15s linear infinite;
}

/*from*/

.appointment_from_main_host_gem_78{
	background-color:#fff;
	background: url(../img/ap_book/fea_bg.png);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 50px;
	margin-bottom: 50px;
}

.appointment_from_main_host_gem_78 .left_side_info_bk_ap_hos_gem h4{
	color: #1f2278;
	font-size: 35px;
	font-weight: 800;
	margin-bottom: 20px;
	line-height: 60px;
	font-family: 'Titillium Web', sans-serif;
}
.appointment_from_main_host_gem_78 .left_side_info_bk_ap_hos_gem p{
	padding-bottom: 30px;
	font-weight: 600;
	border-bottom: 1px solid #ebebeb;
	font-family: 'Titillium Web', sans-serif;
}
.appointment_from_main_host_gem_78 .call_area_appoiment_from .icon_PCKJBC i{
	display: inline-block;
	height: 90px;
	width: 90px;
	line-height: 90px;
	background: #fff;
	box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
	border-radius: 50%;
	font-size: 45px;
	text-align: center;
	margin-right: 20px;
}
.appointment_from_main_host_gem_78 .call_area_appoiment_from .content_PCKJBC h6{
	color: #000;
	font-size: 25px;
	font-weight: 700;
	font-family: 'Titillium Web', sans-serif;
}
.appointment_from_main_host_gem_78 .call_area_appoiment_from .content_PCKJBC p{
	color: #507392;
	margin: 0px;
	font-family: 'Titillium Web', sans-serif;
}
.appointment_from_main_host_gem_78 .social_media_book_ap_host_gem_78 i{
	width: 50px;
	height: 50px;
	color: #1f2278;
	background: #fff;
	font-size: 20px;
	line-height: 55px;
	text-align: center;
	position: relative;
	margin-right: 30px;
	border-radius: 50%;
	display: inline-block;
	box-shadow: 0 0 1.25rem rgba(108, 118, 134, 0.1);
}
.appointment_from_main_host_gem_78 .appointment-form-wrap_bk_gme_78{
    padding: 35px;
    border-radius: 15px;
	background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}
.appointment_from_main_host_gem_78 .appointment-form-wrap_bk_gme_78 .tittle_from_gem_hos_gem_78 h4{
	font-weight: 700;
	margin-bottom: 30px;
	font-family: 'Titillium Web', sans-serif;
}
.form_group_ap_bk_gem_78 label{
	display: block;
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 10px;
	font-family: 'Titillium Web', sans-serif;
}
.custom_from_input_ap_bk_gem_78 {
	height: 60px;
    border: none;
    padding: 15px 25px;
    line-height: initial;
    border-radius: 5px;
    background-color: #f3f7fb;
    width: 100%;
	font-family: 'Titillium Web', sans-serif;
}

/*endfrom*/

.calendar_ap_book_gem_78{
	background: url(../img/ap_book/line-bg2.cfded2fd.png);
	background-position: center center;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 70px;
    text-align: center;
    position: relative;
}
.calendar_ap_book_gem_78 .calendar_comn_design_tittle_gem-78 h4{
	font-family: 'Titillium Web', sans-serif;
    letter-spacing: 1px;
    color: #1f2278;
    position: relative;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 45px;
}
.calendar_ap_book_gem_78 .doctor-calendar-table table thead .bg_color_calendar_ap_book{
	padding: 10px;
	background: transparent linear-gradient(90deg, #1E0B9B 0%, #07CCEC 100%) 0% 0% no-repeat padding-box;
}
.calendar_ap_book_gem_78 .doctor-calendar-table table thead tr th{
	vertical-align: middle;
    text-align: center;
    border: none;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 500;
    padding-top: 16px;
    padding-bottom: 15px;
    font-family: 'Titillium Web', sans-serif;
}
.calendar_ap_book_gem_78 .doctor-calendar-table table tbody tr td:first-child{
	border-left: none;
	border-bottom: 1px solid #eeeeee;
}
.calendar_ap_book_gem_78 .doctor-calendar-table table tbody{
	background: #fff;
    border-top: 3px solid #000;
}
.calendar_ap_book_gem_78 .doctor-calendar-table table tbody tr td {
    vertical-align: middle;
    text-align: center;
    border: 1px solid #eeeeee;
    border-top: none;
    white-space: nowrap;
    padding: 25px;
    font-size: 15px;
    font-family: 'Titillium Web', sans-serif;
}
.calendar_ap_book_gem_78 .doctor-calendar-table table tbody tr td h3{
	font-weight: 600;
	font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
}
.calendar_ap_book_gem_78 .doctor-calendar-table table tbody tr td span.time_ap_book {
    display: inline-block;
    color: #000;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    line-height: 65px;
    font-weight: 600;
    background-color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.calendar_ap_book_gem_78 .doctor-calendar-table table tbody tr td:hover{	
	cursor: pointer;
	background: transparent linear-gradient(90deg, #1E0B9B 0%, #07CCEC 100%) 0% 0% no-repeat padding-box;
}
.calendar_ap_book_gem_78 .doctor-calendar-table table tbody tr td:hover h3, .doctor-calendar-table table tbody tr td:hover span{
	color: #fff;
}
.calendar_ap_book_gem_78 .doctor-calendar-table table tbody tr td:hover .time_ap_book{
	color: #000;
	background-color: #fff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}